html{
  overflow-y:scroll; 
}
body {
  
  background:#fefefe;
}

.header-container, .container{
  width: 970px;
}
  #login{
    width:400px;
    margin: 0 auto; 
  }
    #login h2{ text-align: center;}
.page{
  width: 940px;
  background:#fff;
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
  ul.dashboard-links{
    margin: 0 auto;
    padding: 0;
  }
    ul.dashboard-links li{
      display: block;
      list-style: none;
      width: 195px;
      margin:0 15px 25px;
      float: left;
    }
      ul.dashboard-links li:hover{
      }
        ul.dashboard-links li a{
          height: 195px;
          background:#efefef;
          border-radius: 10px;
          border:10px solid #999999;
          display: block;
          vertical-align: center;
          text-align: center;
          text-decoration: none;
          /*
          width: 100%;
          height: 150px;
          padding-top: 45px;
          border-radius: 8px;
          */
        }
          ul.dashboard-links li:hover a{
             background: #fff;
             list-style: none;
             border-color: #676767;
          }
          ul.dashboard-links li a div{
            padding-top: 30px;
            font-size: 30px;
            line-height:1.5;
          }


.event-table, ul.page-list, ul.page-list-header{
  font-size: 90%;
}
  .event-table thead{
    background: #DFF0D8
  }
    table.event-table th{
      padding-left: 15px;
      cursor: pointer;
    }
    table.event-table th.headerSortUp{
      background-image: url('../img/icons/down.png');
      background-repeat: no-repeat;
      background-position: 15px center;
    }
    table.event-table th.headerSortDown{
      background-image: url('../img/icons/up.png');
      background-repeat: no-repeat;
      background-position: 15px center;
    }
  .event-table td{

    vertical-align: middle;
  }
    .change-grid{
      width: 30px;
    }
    .home-status{ font-size: 1px; color: #000}

ul.page-list{
  margin: 0;
  padding: 0;
}
  ul.page-list li, ul.page-list-header li{
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    display: block;
  }
  ul.page-list li{
    /*background: #f3f5f5;*/
  }
    ul.page-list ul li{
      background: #DFF0D8;
    }
      ul.page-list ul ul li{
        background: #FCF8E3;
      }
      ul.page-list ul li.alert,  ul.page-list ul ul li.alert{
        background-color: #F2DEDE;
        border-color: #EED3D7;
        color: #B94A48;
      }
  
    ul.page-list ul{
      margin: 0px;
    }
      ul.page-list ul li{
        padding-left: 25px;
      }

      ul.page-list li div{
        float:left;
        text-align: center;
        min-width: 140px;
      }

      ul.page-list li div.page-title{
        width: 300px;
        text-align: left;
      }

      ul.page-list ul li div.page-title{
        width: 282px;
      }
      
      ul.page-list li div.page-modified{
        width: 185px;
      }
      ul.page-list li div.page-modified-by{
        width: 150px;
      }

  ul.page-list li:hover{
    background: #f5f5f5;
  }

  ul.page-list-header li, ul.page-list-header li:hover{
    background: #c9c9c9;
  }

  #cms-content *{
    font-family: 'HelveticaNeueW01-55Roma';
    color: black;
  }
  #cms-content h3{
    font-size: 20px;
    margin: 0;
    padding: 5px 0 10px 0;
  }
  #cms-content p{
    font-size: 13px; line-height:1.5em; margin-bottom:20px;
  }
  ul.side-modules, ul.side-sponsors,  ul.target-icons{
    margin-left: 0;
  }
    ul.side-modules li, ul.side-sponsors li, ul.target-icons li{
      display: inline-block;
      padding: 3px 10px;
      margin-right: 5px;
      border: 1px solid #5EB95E;
      border-radius: 5px;
      font-size: 12px;
      background: #c1e7c1;
      color: #62ab62;
      cursor: pointer;
    }
      ul.side-modules li.active, ul.side-sponsors li.active{
        background: #5EB95E;
        color: #fff;
        border: 1px solid #1c681c;
      }
/* Comon classes */
.width-800{
  width: 800px;
  margin: 0 auto;
}
*.center{
  text-align: center;
}
.clear{
  clear: both;
}

p.details {font-family:'HelveticaNeueW01-55Roma'; font-size: 13px; line-height:1.5em; margin-bottom:20px;}
p.sidebar {font-family:'HelveticaNeueW01-55Roma'; font-size: 13px; line-height:1.5em; margin-bottom:30px;}
p.dates   {font-family:'HelveticaNeueW01-55Roma'; font-size: 13px; line-height:1.3em; margin: 0 5px 15px 10px;}
p.mission {font : normal 28px georgia; line-height:1.4em; margin:30px 0 40px 0; color:#777;}
p.hero    {font : normal 24px georgia; line-height:1.4em; margin:0 0 20px 20px; color:#777;}
p.credit  {font-family:'HelveticaNeueW01-55Roma';font-style: italic; font-size: 13px; margin: 10px 10px 20px 0; text-align:right;}
p.question{font-family:'HelveticaNeueW01-55Roma'; font-size: 14px; margin-bottom:5px; font-weight: bold;}

.help-block{ font-size: 90%; }
.silver{ background: white }


.profile_image{

  display: inline-block;
  position: relative;
  float:left;

  height:48px;
  width:48px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.admin_tweet_item{

  width:220px;

}

.admin_tweet_username{
  
  display: inline-block;
  position: relative;
  float:left;

  height:48px;

  padding-left:6px;

  vertical-align: middle;
  text-align: left;

  line-height:24px;

}

.selectpicker_container{

  width: 88px;
  height: 30px;

  overflow: hidden;
  background-image: url("../images/select_arrow.png");

  margin-top:4px;
  
}

.selectpicker_container select {
   background: transparent;
   width: 88px;
   height: 30px;
   font-size: 16px;
   line-height: 16px;
   
   -webkit-appearance: none;

   padding-top:0px;
   padding-bottom:0px;
   }

.selectpicker{
  width: 88px;
  height: 30px;
  line-height:30px;
}
.selectpicker:focus {
    outline-width: 0;
}





#manage_ads_menu_bar{
  width:100%;
  padding:8px 0 0 0;

  text-align: left;
}
#manage_ads_menu_bar b{
  display: inline-block;
  position: relative;
  height:30px !important;
  padding-right: 18px;
  line-height:30px;
  font-family: Arial;
  font-size: 0.85em;  
}
#manage_ads_menu_bar input{
  height:28px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;  
  margin:0px 10px 0px 0px;
  padding:0px 5px 0px 5px;
}


#manage_ads_menu_bar .input-group{
  display: inline-block;
}

#admin_ads_list img{
  width:320px;
  height:50px;

  background-color: #26343f;
}

#add_new_user_button{
  /*float:right;*/
}

#manage_users_menu_bar{
  position: relative;
  display: block;
  width:100%;
  padding:8px 0 20px 0;
  height: 280px;
}

#manage_users_menu_bar .input-group{
  width:100%;
}

.manage_users_add_left_side{
  display:inline-block; 
  position:relative; 
  width:300px;
  text-align:left;
  padding: 0 10px;
}

.manage_users_add_right_side{
  display:inline-block; 
  position:relative; 
  width:200px;
  height:144px;
  text-align:left;
  padding: 0 10px;
  float:left;
}

#edit_user_donation_list{
  display:inline-block; 
  position:relative; 
  width:calc(100% - 200px);
  height:176px;
  overflow-x:hidden;
  float:left;
}

#add_donation_button{
  margin-left: 5px;
}

.remove_donation{
  float:right;
  padding:1px 4px 0px 4px;
}


/*Dash*/
.dash_stat{
  position: relative;
  width:100%;
  height: 195px;
  background:#f8f8f8;
  color: #777777;
  border:1px solid #e7e7e7;
  display: block;
  vertical-align: center;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  /*
  width: 100%;
  height: 150px;
  padding-top: 45px;
  border-radius: 8px;
  */


}

.dash_stat_number{
  position: absolute;
  display: block;
  top:0px; left:0px;
  width:100%; height:100%;
  vertical-align: middle;
  font-size: 3.75em !important;
  line-height: 3.2em;
}

.dash_stat_title{
  position: absolute;
  display: block;
  bottom:0px; left:0px;
  width:100%; height:50px;
  font-size: 1.25em !important;
}

.dashboard-links li{
  width: 235px;
}

.dash_stat_graph{
  position: relative;
  width:calc(50% - 35px)!important;
  height: 195px;  
  color: #777777;  
  display: block;
  vertical-align: center;
  text-align: center;
  text-decoration: none;


}

#pieCanvas{
  position: absolute;
  display: block;
  top:0px; left:0px;
  width:  160px; 
  height: 160px; 
  margin:5px 15px 0 18px;
}

#dash_counter_total_donations{
  font-size: 1.9em !important; 
  line-height:6.45em;
}

#weeklyUserCanvas{
  position: absolute;
  display: block;
  top:0px; left:0px;
  margin:10px 16px 0 16px;
}

#user_pic{
  display: block; position: absolute;
  top:0px; right:0px;
  width:60px; height:60px;
  border-radius: 6px;
  overflow: hidden;
}
#user_pic img{
  width: 100%;
  height: 100%;
}

#gravatar_info{
  display: block; position: absolute;
  top:8px; right:10px;
  width:240px; height:90px;
}

#gravatar_info .name{
  display: block; position: absolute;
  top:0px; left:0px;
  width:180px; height:20px;
  overflow: hidden;
}

#gravatar_info .location{
  display: block; position: absolute;
  top:20px; left:0px;
  width:180px; height:20px;
  overflow: hidden;
}

#gravatar_info .about{
  display: block; position: absolute;
  bottom:0px; left:0px;
  width:240px; height:20px;
  overflow: hidden;
}

#are_you_sure_message{

}

#are_you_sure_message .name{
  font-weight: bold;
}

#edit_modal_key_view{
  display: block;
  position: relative;
  float: left;
  height:34px;
  margin-left: 12px;
  padding: 0 12px;
  text-align: left;

  border-style: solid;
  border-width: 0px;
}
#edit_modal_key_view:disabled{
  background-color:transparent;  
}

#manual_ad_image_url_input{
  display: block;
  position: relative;

  width:200%;
}

#manual_ad_link_url_input{
  display: block;
  position: relative;

  width:200%;
}